<div class="featuredcontainer">
    <div class="featuredtitle">
        <h1>Today's Featured Recipes</h1>
    </div>
 
    <carousel class="featuredlist" *ngIf="featured" [cellsToShow]="1" [width]="600" [height]="500">
        <div class="featuredrecipe carousel-cell" routerLink="/recipe/{{item.id}}" routerLinkActive="router-link-active" *ngFor="let item of featured">
            <div class="featuredrecipedetail">
                <div class="recipeimgcontainer" [ngStyle]="{ 'background-image': 'url(data:image/png;base64,' + item.thumbnail + ')'}" >
                    
                </div>
                <div class="recipeinfocontainer">
                    {{item.name}}
                </div>
            </div>
        </div>
    </carousel>
</div>