.searchresultcontainer {
  display: flex;
  flex-direction: column;
  font-family: "Work Sans", sans-serif;
  width: 100%;
  align-items: center;
}
.title {
  font-family: "Work Sans", sans-serif;
  font-size: 26px;
  font-weight: 700;
  letter-spacing: -0.7px;
  margin-top: 50px;
}
.searchresults {
  width: 60%;
  border-radius: 20px;
  max-width: 900px;
  padding: 50px 70px 50px 70px;
  background-color: #f8f8f8;
  display: flex;
  flex-direction: column;
}

.result {
  height: 130px;
  border-radius: 20px;
  background: rgb(61, 99, 46);
  background: linear-gradient(
    310deg,
    rgba(61, 99, 46, 1) 15%,
    rgba(83, 102, 56, 1) 84%
  );
  padding: 20px;
  transition: 0.3s;
  margin-bottom: 40px;
}
.result:hover {
  cursor: pointer;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.result h2 {
  font-family: "Work Sans", sans-serif;
  color: rgb(241, 241, 241);
  font-size: 26px;
  font-weight: 700;
  letter-spacing: -0.7px;
}
.result span {
  font-family: "Work Sans", sans-serif;
  font-weight: 600;
  letter-spacing: -0.5px;
  padding: 10px;
  background-color: rgb(61, 61, 61);
  border-radius: 10px;
  margin-right: 10px;
  color: white;
}
