<div class="searchresultcontainer">
    <h2 class="title"> Search Results</h2>
    <div *ngIf="searchResult" class="searchresults" >
        <div *ngFor="let item of searchResult" class="result"
        routerLink="/recipe/{{item.id}}" routerLinkActive="router-link-active">
            <h2>
                {{item.name}}
            </h2>
            <span>
                Posted on: {{item.publishDate}}
            </span>
            <span>
                Views: {{item.viewCount}}
            </span>
            <span>
                Likes: {{item.likes}}
            </span>
        </div>
    </div>
    
</div>