.search {
  width: 50%;
  min-width: 200px;
  max-width: 700px;
}
app-userinfo {
  width: 20%;
}
nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  min-height: 80px;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
}
nav a {
  padding: 5px 10px;
  position: relative;

  top: -3px;
  text-decoration: none;
  margin-top: 10px;
  width: 100px;
  height: 50px;
  border-radius: 4px;
  letter-spacing: -0.5px;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("src\assets\logo.png");
}
