.search {
  width: 50%;
  min-width: 200px;
  max-width: 700px;
}
app-userinfo {
  width: 10%;
}
nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  min-height: 80px;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
}
nav a {
  width: 5%;

  padding: 5px 10px;
  text-decoration: none;
  margin-top: 10px;
  display: inline-block;
  background-color: #eee;
  border-radius: 4px;
  letter-spacing: -0.5px;
}

nav a:visited,
a:link {
  color: #607d8b;
}
nav a:hover {
  color: #039be5;
  background-color: #cfd8dc;
}
nav a.active {
  color: #039be5;
}
