
<div class="userpage">
    <div class="profiletitle">
        <span>Profile</span>
    </div>
    <div *ngIf="user" class="usercontainer">
        <div class="userprofilerow">
            <div class="avatarcontainer">
                <div class="userpageavatar">

                </div>
            </div>
            <div class="userprofileinfo">
                <span class="userfullname">{{user.firstname}} {{user.lastname}}</span>
                <span class="username">@{{user.username}}</span>
                <span class="useremail">{{user.email}}</span>
                <p class="userdesc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Id augue scelerisque purus id etiam mi lectus. Id cum egestas vel fermentum. Pellentesque sapien sodales molestie at malesuada. Augue faucibus pulvinar tellus orci.</p>

            </div>
        </div>
        <div class="usercontent">
            <h2 class="recipetitle">Recipes</h2>

            <div  class="userrecipelist">
                <div *ngFor="let item of user.userRecipeList" class="userrecipe" routerLink="/recipe/{{item.id}}" routerLinkActive="router-link-active" >
                    <h2>
                        {{item.name}}

                    </h2>
                </div>
            </div>
        </div>
    </div>
    
</div>